p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--primary-color-white);
}

body {
    font-family: Poppins, sans-serif;
}

ul {
    padding: 0;
    margin: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

h1 {
    font-size: 81px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 105px;
    color: var(--primary-color-white);
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 84px;
    letter-spacing: 0em;
    color: var(--primary-color-white);
}

h3 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: auto;
    color: var(--primary-color-white);
}

h4 {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--heading-color);
}

.navBar-slider .owl-theme .owl-dots .owl-dot span {
    background: var(--button-color) !important;
    margin: 0 auto;
}

.navBar-slider .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: none;
    margin: 0 auto;
}

.navBar-slider .owl-dot.active {
    display: inline-block;
    height: 32px;
    width: 32px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 1%;
}

.navBar-slider .owl-dot {
    display: inline-block;
    height: 32px;
    width: 32px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 1%;
}

.navBar-slider .owl-dots {
    margin-top: 84px !important;
}